.experiencia--container {
  flex-direction: column;
  width: calc(100% - 20rem);
}
.experiencia--container--div {
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 2rem 0;
}
.experiencia--div {
  height: 12.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 40%;
  min-width: 600px;
}
.experiencia--div--interior {
  max-height: 4.5rem;
  overflow: hidden;
  padding: 1rem;
  box-shadow: 5px 5px 5px #353535, 0 0 5px #353535 inset;
  border-radius: 15px;
  transition: 0.4s ease-in-out;
}
.experiencia--p--principal {
  color: #353535;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
}
.experiencia--p--secundario {
  color: #414664;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.experiencia--div--descripcion {
  padding-top: 0.5rem;
}
.experiencia--p--descripcion {
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: 500;
  transition: 0.5s;
}

.experiencia--div--interior:hover {
  max-height: 180px;
}

@media (max-width: 1680px) {
  .experiencia--container {
    width: calc(100% - 10rem);
  }
}

@media (max-width: 820px) {
  .experiencia--container {
    width: calc(100% - 6rem);
  }
}
@media (max-width: 412px) {
  .experiencia--container {
    width: calc(100% - 3rem);
  }
  .experiencia--div {
    min-width: 380px;
    height: 15rem;
  }
}
