.skillhobbies--container {
  flex-direction: column;
  width: calc(100% - 20rem);
  padding: 5rem 10rem 5rem 10rem;
}
.skillhobies--h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.skillhobbies--div--container {
  width: 100%;
}
.skillhobbies--ul {
  display: flex;
  justify-content: space-between;
}
.skillhobbies--li {
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
  height: 160px;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 10%;
  box-shadow: 5px 5px 10px #929ba3, inset 0 0 10px #929ba3;
}
.skillhobbies--div {
  width: 120px;
  height: 120px;
  background-size: cover;
  margin: 10px auto;
}
.skillhobbies--p {
  font-family: Open, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-align: center;
}

.skill--div__1 {
  background-image: url(/assets/img/html5.jpg);
}
.skill--div__2 {
  background-image: url(/assets/img/css.jpg);
}
.skill--div__3 {
  background-image: url(/assets/img/javascript.jpg);
  width: 110px;
  height: 110px;
  border-radius: 10px;
}
.skill--div__4 {
  background-image: url(/assets/img/sql.jpg);
}
.skill--div__5 {
  background-image: url(/assets/img/php.jpg);
  width: 107px;
  height: 110px;
}
.skill--div__6 {
  background-image: url(/assets/img/python.jpg);
}

.hobbies--div__1 {
  background-image: url(/assets/img/musica.png);
}
.hobbies--div__2 {
  background-image: url(/assets/img/deportes.png);
}
.hobbies--div__3 {
  background-image: url(/assets/img/gaming.png);
}
.hobbies--div__4 {
  background-image: url(/assets/img/automovilismo.png);
}
.hobbies--div__5 {
  background-image: url(/assets/img/tecnologia.png);
}
.hobbies--div__6 {
  background-image: url(/assets/img/electronica.png);
}

@media (max-width: 1680px) {
  .skillhobbies--div--container {
    width: calc(100vw - 10rem);
    padding: 0 5rem 0 5rem;
  }
}

@media (max-width: 820px) {
  .skillhobbies--container {
    padding: 3rem 10rem 3rem 10rem;
  }
  .skillhobbies--div--container {
    width: calc(100vw - 4rem);
    padding: 0 1.5rem 0 1.5rem;
  }
  .skillhobies--h2 {
    padding: 1rem 0;
  }
  .skillhobbies--ul {
    flex-wrap: wrap;
  }
  .skillhobbies--li {
    width: 15%;
    margin: 5%;
  }
  .skillhobbies--div {
    width: 90%;
    height: 60%;
  }
  .skillhobbies--p {
    font-size: 1rem;
  }
}

@media (max-width: 412px) {
  .skillhobbies--container {
    width: 100%;
    padding: 2rem 0;
  }
  .skillhobbies--li {
    width: 10rem;
    height: 10rem;
    margin: 3%;
  }
  .skillhobbies--div {
    width: 59%;
  }
}
