.sobremi--1 {
  width: calc(100% - 20rem);
  justify-content: space-between;
}
.sobremi--texto {
  width: 65%;
  margin-right: 2rem;
}
.sobremi--titulo {
  font-size: 3.5rem;
  font-weight: 700;
  color: #353535;
}
.sobremi-ul {
  display: flex;
  justify-content: space-around;
  padding: 3.25rem 5rem 3.25rem 5rem;
}
.sobremi--li {
  text-decoration: none;
  color: #353535;
  font-weight: 500;
}

.sobremi--imagen {
  background-image: url(/assets/img/fotoperfil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 368px;
  min-width: 350px;
  height: 368px;
  border-radius: 49%;
  box-shadow: 5px 15px 15px #353535;
}

.sobremi--2 {
  background: #7882b9;
  width: calc(100vw - 35rem);
  padding: 2rem 25rem 3rem 10rem;
  box-shadow: -10px 10px 10px #7882b9, 10px 10px 10px #7882b9, -10px -10px 10px #7882b9, 10px -10px 10px #7882b9;
}

.sobremi--2--h2 {
  padding: 1rem 0;
}
.sobremi--2--p {
  color: #353535;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.5rem 0 0.5rem 0;
}

@media (max-width: 1680px) {
  .sobremi--1 {
    width: calc(100% - 10rem);
  }
  .sobremi--2 {
    width: calc(100% - 20rem);
    padding: 2rem 15rem 3rem 5rem;
  }
}

@media (max-width: 820px) {
  .sobremi--1 {
    width: calc(100% - 6rem);
  }
  .sobremi--titulo {
    font-size: 2.5rem;
  }
  .sobremi--imagen {
    width: auto;
    min-width: 220px;
    height: auto;
    min-height: 220px;
  }
  .sobremi--2 {
    width: calc(100% - 13rem);
    padding: 2rem 10rem 3rem 3rem;
  }
}

@media (max-width: 412px) {
  .sobremi--1 {
    width: calc(100vw - 2.5rem);
    flex-direction: column-reverse;
  }
  .sobremi--texto {
    width: 95%;
  }
  .sobremi-ul {
    padding: 2rem 2rem;
  }
  .sobremi--2 {
    width: calc(100vw - 5rem);
    padding: 2rem 2.5rem;
  }
}
