.footer--container {
  height: 5rem;
  width: 100%;
  background-color: #7882b9;
  justify-content: space-around;
}
.footer--logos {
  justify-content: space-around;
  width: 40%;
}

.footer--shishko img {
  margin-right: 0.5rem;
}
.footer--a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.footer--a__img {
  height: 3rem;
  width: 3rem;
}
.footer--p {
  font-weight: 500;
}
.footer--p::before {
  content: "\00a9";
}

@media (max-width: 820px) {
  .footer--logos {
    width: 60%;
  }
}
@media (max-width: 412px) {
  .footer--container {
    flex-direction: column;
    justify-content: start;
    height: 10rem;
  }
  .footer--logos {
    width: 80%;
    flex-wrap: wrap;
    /* justify-content: ; */
  }
  .footer--p {
    margin-top: 1rem;
  }
}
